.quiz{

  $_: &;

  // @extend .box;

  &__question {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
  }

  &__start {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
  }

  // buttons
  .button {
    // @extend .is-outlined;
  }

}